/**
 * Demo Styles
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: #202020;
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #191919;
  text-align: center;
}


/*-------------------------------------------*/
header{
  border-bottom: 1px solid #666;
}
h1.titulo{
  font-family: 'Lobster', cursive;
  color: #CCC;
  text-shadow: 1px 1px 8px #000;
  font-size: 80px;
  text-align: center;
}
p.sub-titulo{
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px 8px #000;
}